@mixin styles {
  color-scheme: dark;

  /* Framework color */
  --main-bg: #282c34;
  --mask-bg: #3a3f4b;
  --main-border-color: #181a1f;

  /* Common color */
  --text-color: #abb2bf;
  --text-muted-color: #828997;
  --text-muted-highlight-color: #a0a7b5;
  --heading-color: #e5e5e6;
  --label-color: #abb2bf;
  --blockquote-border-color: #3b4048;
  --blockquote-text-color: #828997;
  --link-color: #61afef;
  --link-underline-color: #4078f2;
  --button-bg: #2c313a;
  --btn-border-color: #3b4048;
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #181a1f;
  --card-header-bg: #2c313a;
  --checkbox-color: #565c64;
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, #21252b 0%, #282c34 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(70, 77, 87, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #738aff;
  --site-subtitle-color: #6b727d;
  --sidebar-bg: #21252b;
  --sidebar-border-color: #181a1f;
  --sidebar-muted-color: #828997;
  --sidebar-active-color: rgba(229, 229, 230, 0.95);
  --sidebar-hover-bg: #2c313a;
  --sidebar-btn-bg: #2c313c;
  --sidebar-btn-color: #9da5b4;
  --avatar-border-color: rgba(229, 229, 230, 0.9);

  /* Topbar */
  --topbar-bg: rgba(40, 44, 52, 0.64);
  --topbar-text-color: var(--text-color);
  --search-border-color: #3b4048;
  --search-icon-color: #565c64;
  --input-focus-border-color: #528bff;

  /* Home page */
  --post-list-text-color: #abb2bf;
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #2c313a;

  /* Posts */
  --toc-highlight: #61afef;
  --toc-popup-border-color: #3b4048;
  --tag-hover: #3e4451;
  --tb-odd-bg: #2f333d; /* odd rows of the posts' table */
  --tb-even-bg: #282c34; /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: #4078f2;
  --btn-share-color: #6b727d;
  --btn-share-hover-color: #abb2bf;
  --card-bg: #21252b;
  --card-hovor-bg: #3e4451;
  --card-shadow: rgba(24, 26, 31, 0.72) 0 6px 18px 0,
    rgba(60, 65, 75, 0.24) 0 0 0 1px;
  --kbd-wrap-color: #6b727d;
  --kbd-text-color: #c8ccd4;
  --kbd-bg-color: #2c313a;
  --prompt-text-color: rgba(229, 229, 230, 0.75);
  --prompt-tip-bg: rgba(35, 187, 83, 0.16);
  --prompt-tip-icon-color: #98c379;
  --prompt-info-bg: rgba(83, 123, 208, 0.15);
  --prompt-info-icon-color: #61afef;
  --prompt-warning-bg: rgba(224, 148, 72, 0.16);
  --prompt-warning-icon-color: #e5c07b;
  --prompt-danger-bg: rgba(224, 82, 82, 0.16);
  --prompt-danger-icon-color: #e06c75;

  /* Tags */
  --tag-border: #3e4451;
  --tag-shadow: #21252b;
  --dash-color: #3b4048;
  --search-tag-bg: #2c313a;

  /* Categories */
  --categories-border: rgba(60, 65, 75, 0.5);
  --categories-hover-bg: #3e4451;
  --categories-icon-hover-color: #e5e5e6;

  /* Archive */
  --timeline-node-bg: #9da5b4;
  --timeline-color: #3b4048;
  --timeline-year-dot-color: var(--timeline-color);

  /* Code highlight colors */
  --language-border-color: #181a1f;
  --highlight-bg-color: #282c34;
  --highlighter-rouge-color: #a3b8ef;
  --highlight-lineno-color: #636d83;
  --inline-code-bg: rgba(115, 124, 153, 0.15);
  --code-color: #abb2bf;
  --code-header-text-color: #9da5b4;
  --code-header-muted-color: #3e4451;
  --code-header-icon-color: #6b727d;
  --clipboard-checked-color: #98c379;
  --filepath-text-color: #e5e5e6;

  .light {
    display: none;
  }

  /* Categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      rgb(26, 26, 30),
      rgb(39, 39, 45),
      rgb(39, 39, 45),
      rgb(39, 39, 45),
      rgb(26, 26, 30)
    );
  }

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }

  /* --- Syntax highlight theme from `rougify style base16.dark` --- */

  .highlight .gp {
    color: #87939d;
  }

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: #d0d0d0;
    background-color: #151515;
  }

  .highlight .err {
    color: #151515;
    background-color: #ac4142;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #848484;
  }

  .highlight .cp {
    color: #f4bf75;
  }

  .highlight .nt {
    color: #f4bf75;
  }

  .highlight .o,
  .highlight .ow {
    color: #d0d0d0;
  }

  .highlight .p,
  .highlight .pi {
    color: #d0d0d0;
  }

  .highlight .gi {
    color: #90a959;
  }

  .highlight .gd {
    color: #f08a8b;
    background-color: #320000;
  }

  .highlight .gh {
    color: #6a9fb5;
    background-color: #151515;
    font-weight: bold;
  }

  .highlight .k,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kv {
    color: #aa759f;
  }

  .highlight .kc {
    color: #d28445;
  }

  .highlight .kt {
    color: #d28445;
  }

  .highlight .kd {
    color: #d28445;
  }

  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1 {
    color: #90a959;
  }

  .highlight .sa {
    color: #aa759f;
  }

  .highlight .sr {
    color: #75b5aa;
  }

  .highlight .si {
    color: #b76d45;
  }

  .highlight .se {
    color: #b76d45;
  }

  .highlight .nn {
    color: #f4bf75;
  }

  .highlight .nc {
    color: #f4bf75;
  }

  .highlight .no {
    color: #f4bf75;
  }

  .highlight .na {
    color: #6a9fb5;
  }

  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #90a959;
  }

  .highlight .ss {
    color: #90a959;
  }
}
